.NewForm{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 400px;
}

.NewForm input{
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: var(--color-terciario);
}

.form-btns{
    display: flex;
    gap: 15px;
}

.form-btns button{
    padding: 8px;
    border-radius: 5px;
    border: none;
    background-color: var(--color-secundario);
    color: var(--color-blanco);
    width: 80px;
    cursor: pointer;
    font-weight: 400;
}

.form-btns button:hover{
    background-color: var(--color-terciario);
}