    .CanalList {
        display: inline-block;
        position: absolute;
        width: 300px;
        background-color: var(--color-primario);
        top: 60px;
        left: 0;
        bottom: 0;
        padding: 20px 20px;
        overflow-y: scroll;
    }

    .CanalList::-webkit-scrollbar {
        display: none;
    }

    .CanalList-ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;
    }

    .CanalList-ul h3 {
        font-size: 20px;
    }

    .CanalList-ul li {
        font-size: 16px;
        font-weight: 500;
        width: 100%;
        color: var(--color-contraste);
    }

    .CanalList-ul li:hover {
        font-weight: 700;
    }
    .CrearCanal-btn {
        border: none;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
        background-color: transparent;
    }

    .CancelarCanal-btn {
    padding: 6px;
    background: none;
    border-radius: 10px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: var(--color-terciario);
    }

    .toggle-canals-btn {
        display: none;
    }

    .buttons-container {
        display: flex;
        justify-content: flex-end;
        gap: 10px;
    }

/* Canales ocultos en pantallas pequeñas */
@media (max-width: 767px) {
    .CanalList {
        display: none;
        transition-duration: 0.5s;
    }

    .CanalList.show {
        display: block;
        position: absolute;
        width: 100%;
        height: fit-content;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        background-color: var(--color-primario);
        top: 60px;
        z-index: 5;
        transition: all 1.5s ease-in-out;
    }

    .toggle-canals-btn {
        display: block;
    }
}