.CanalForm {
    border-radius: 25px;
    background-color: var(--color-terciario);
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
}

.CanalForm input {
    border: none;
    outline: none;
    color: var(--color-contraste);
    font-size: 16px;
    width: 100%;
    font-weight: 500;
    background-color: var(--color-terciario);
}

.CanalForm button {
    border: none;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    color: var(--color-contraste);
    background-color: var(--color-terciario);
}
