.WorkspaceNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    padding: 10px 20px;
    background-color: var(--color-primario);
}

.WorkspaceNav-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}