.HomeButton{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-radius: 10px;
    background-color: var(--color-primario);
    flex-wrap: wrap;
}

.HomeButton-btn{
    padding: 8px;
    border-radius: 5px;
    background-color: var(--color-primario);
    border: 2px solid var(--color-button);
    color: var(--color-button);
}

.HomeButton-btn:hover{
    background-color: var(--color-button);
    color: var(--color-primario);
    font-weight: 450;
}